$mobile-L: 425px;
$tablet: 768px;
$laptop: 1024px;


.sidebar-container {
    display: none;
}

.sidebar-mobile {
    position: fixed;
    z-index: 15;
    top: 0;
    left: 0;
    max-width: 425px;
    width: 100%;
    bottom: 0;
    background-color: var(--orange-500);
    transform: translatex(-100%);
    transition: all ease-in-out .5s;

    #chevron-right {
        font-size: 15px;
    }

    #chevron-down {
        font-size: 15px;
    }

    .close-sidebar {
        position: absolute;
        top: 15px;
        right: 15px;
        border: none;
        border-radius: 9999px;
        font-size: 20px;
        width: 25px;
        height: 25px;
        background-color: transparent;
    }

    .admin {
        &-logo {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 15px;


            img {
                width: 180px;
            }
        }

        &-items {
            max-height: calc(100vh - 240px);
            overflow: auto;

            >div {
                display: flex;
                align-items: center;
                padding-left: 10px;
                list-style: none;
                font-size: 22px;
                font-weight: 600;
                color: var(--surface-900);


                li {
                    padding: 15px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    span {
                        cursor: pointer;
                    }
                }

                .products-li {
                    padding: 15px;

                    .products {
                        display: flex;
                        flex-direction: column;
                        list-style: none;
                        font-size: 22px;
                        font-weight: 600;
                        color: var(--surface-900);
                        width: 100%;

                        .products-link {
                            display: flex;
                            align-items: center;
                            gap: 10px;

                            span {
                                cursor: pointer;
                            }
                        }

                        .products-items {
                            padding-left: 15px;

                            .product,
                            .category {
                                display: flex;
                                align-items: center;
                                gap: 10px;
                                font-size: 20px;
                                padding-top: 12px;

                                span {
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }


        }



        &-footer {
            display: flex;
            align-items: flex-start;
            list-style: none;
            justify-content: center;
            gap: 20px;
            color: var(--primary-color-text);
            padding-top: 20px;
        }
    }
}

.active {
    transform: translatex(0);
}

@media screen and (min-width: ($laptop + 10)) {
    .sidebar-mobile {
        display: none;
    }

    .sidebar-container {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 250px;
        display: flex;
        flex-direction: column;

        #prev {
            border-bottom-right-radius: 15px;

        }

        #last {
            border-top-right-radius: 15px;
        }

        #select {
            background-color: var(--orange-500);

            li {
                border-top-left-radius: 15px;
                border-bottom-left-radius: 15px;
                color: var(--surface-900);
                background: var(--dark);
                // background-image: radial-gradient(circle, #81d9e8, #73d6e5, #65d3e3, #54d0e0, #3fcddd);
            }

            &+#next {
                border-top-right-radius: 15px;
            }
        }

        .admin {
            &-logo {
                display: flex;
                align-items: center;
                justify-content: center;
                padding-bottom: 15px;
                background-color: var(--orange-500);


                img {
                    width: 150px;
                }
            }

            &-items {

                >div {
                    display: flex;
                    align-items: center;
                    padding-left: 10px;
                    list-style: none;
                    font-size: 22px;
                    font-weight: 600;
                    color: var(--surface-900);
                    background-color: var(--orange-500);

                    li {
                        padding: 15px;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        span {
                            cursor: pointer;
                        }
                    }
                }
            }



            &-footer {
                display: flex;
                align-items: flex-end;
                list-style: none;
                justify-content: space-around;
                color: var(--primary-color-text);
                background-color: var(--orange-500);
                height: 100%;
                padding: 25px;
            }


        }
    }
}