.show-mobile {
    display: block;
    position: fixed;
    width: 100%;
    z-index: 10;
    background-image: linear-gradient(to right top, #06b6d4, #05a6c1, #0596af, #04879d, #04788c, #036a7f, #035c71, #034e63, #073e55, #093045, #092236, #071426);
    box-shadow: 0px 2px 5px rgb(black, .2);

    img {
        width: 45px;
    }

    .p-divider.p-divider-vertical {
        margin: 0 5px 0 0;
        padding: 6px 0;

        &:before {
            border-left: 2.5px #0b213f;
            border-left-style: solid;
        }
    }

    >div:nth-child(1) {
        padding: .5em .2em;
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            background-color: transparent;
            border: 0;
            font-size: 22px;
            width: 22px;
            height: 22px;
            cursor: pointer;
        }

        >a {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: inherit;
            gap: 5px;

            >span {
                font-size: 30px;
                text-transform: uppercase;
                font-weight: 900;
            }
        }

        .shoppingCart {
            text-decoration: none;
            color: inherit;
            font-size: 20px;
            padding-right: 10px;
            position: relative;

            span {
                background-color: var(--teal-700);
                width: 18px;
                height: 18px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                font-size: 10px;
                font-weight: 600;
                border-radius: 9999px;
                top: -8px;
                left: -8px;
            }
        }
    }


}


.side-menu {
    position: fixed;
    top: 56px;
    left: 0;
    bottom: 0;
    background-color: var(--cyan-100);
    transform: translateX(-100%);
    transition: all ease-in-out .5s;
    padding-top: 2em;
    z-index: 2;
    color: var(--primary-color-text);
    width: 200px;

    >div {
        list-style: none;
        font-size: 20px;
        overflow: hidden;

        li {
            a {
                text-decoration: none;
                color: inherit;
            }

            padding: .2em 1em;
            margin-bottom: 5px;
            width: 100%;
            cursor: pointer;
            user-select: none;

            &:hover {
                background-color: var(--maskbg);
            }

            &.active-side {
                background-color: var(--maskbg);
            }
        }
    }


}

.active {
    transform: translateX(0%);
}


.hide-mobile {
    display: none;
    box-shadow: 0px 2px 5px rgb(black, .2);
    user-select: none;
    position: fixed;
    width: 100%;
    z-index: 10;
    background-image: linear-gradient(to right top, #06b6d4, #05a6c1, #0596af, #04879d, #04788c, #036a7f, #035c71, #034e63, #073e55, #093045, #092236, #071426);

    >div {
        padding: 0em .5em;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        font-size: 40px;
    }

    .p-divider.p-divider-vertical {
        margin: 0 5px 0 0;
        padding: 14px 0;

        &:before {
            border-left: 2.5px #0b213f;
            border-left-style: solid;
        }
    }

    nav {
        display: flex;
        align-items: center;
        margin-right: 10px;

        >a {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: inherit;
            gap: 5px;

            >span {
                font-size: 55px;
                text-transform: uppercase;
                font-weight: 900;
            }
        }

    }


    .info {
        display: flex;
        align-items: center;
        padding-right: 5px;

        .account {
            margin-right: .5em;

            button {
                border: none;
                padding: 10px;
                font-family: inherit;
                background-color: var(--maskbg);
                border-radius: 15px;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-weight: 600;
                cursor: pointer;

                &:hover {
                    box-shadow: inset 0 0 5px var(--cyan-100);
                }
            }
        }

        .shopping-cart {
            >a {
                position: relative;
                text-decoration: none;
                color: inherit;
                font-size: 22px;
                padding: 10px;

                span {
                    background-color: var(--teal-700);
                    width: 18px;
                    height: 18px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    font-size: 10px;
                    font-weight: 600;
                    border-radius: 9999px;
                    top: 0px;
                    left: 0px;
                }

                &:hover {
                    background-color: var(--maskbg);
                    padding: 10px;
                    border-radius: 9999px;
                    cursor: pointer;
                }
            }
        }
    }
}

.cart-opened {
    width: 100%;
    position: fixed;
    top: 55px;
    right: 0;
    bottom: 0;
    background-color: var(--cyan-100);
    transform: translateY(-120%);
    transition: all ease-in-out .5s;
    z-index: 5;

    .close-btn {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 5px 10px 10px 0;

        button {
            cursor: pointer;
            border: none;
            background-color: transparent;
            color: var(--cyan-800);
            font-size: 22px;
        }
    }

    .cart-products-list {
        height: calc(100% - 110px);
        overflow-y: scroll;
        list-style: none;
        padding-left: 15px;
        display: flex;
        flex-direction: column;
        gap: 8px;

        &::-webkit-scrollbar {
            -webkit-appearance: none;

            &:vertical {
                width: 15px;
            }
        }

        &::-webkit-scrollbar-button {
            display: none;
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--teal-700);
            border-radius: 20px;
            border: 5px solid var(--cyan-100);
        }

        li {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            background-color: white;
            border-radius: 10px;
            color: var(--primary-color-text);

            div:nth-of-type(1) {
                display: flex;

                img {
                    width: 100%;
                    object-fit: contain;
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                }
            }

            div:nth-of-type(2) {
                display: flex;
                flex-direction: column;
                gap: 10px;
                padding: 5px;
                position: relative;

                p {
                    position: absolute;
                    bottom: 10px;
                    right: 10px;
                }
            }

        }
    }

    .cart-footer {
        padding: 10px;
        background-color: #000;
        position: absolute;
        bottom: 0;
        width: 100%;

        a {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-decoration: none;
            color: white;
            text-transform: uppercase;
            font-size: 15px;
            letter-spacing: 1px;
        }

        button {
            font-size: 20px;
            border: none;
            background-color: transparent;
            color: white;
        }
    }
}

.active-cart {
    transform: translateY(0%);
}

@media screen and (min-width: 35em) and (max-width: 54.9em) {
    .show-mobile {
        .side-menu {
            top: 66px;
        }

        img {
            width: 50px;
        }

        >div:nth-child(1) {

            >a {
                >span {
                    font-size: 35px;
                }
            }
        }
    }

    .cart-opened {
        width: 400px;
        top: 65px;

        .cart-products-list {
            height: calc(100vh - 200px);
        }
    }
}

/* Medium only */
@media screen and (min-width: 55em) and (max-width: 63.9999em) {
    .show-mobile {
        display: none;

        img {
            width: 50px;
        }

    }

    .side-menu {
        display: none;
    }


    .hide-mobile {
        display: block;

        .truncate {
            max-width: 150px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .header-categories {
            max-width: 45vw;
        }
    }

    .cart-opened {
        width: 400px;
        top: 75px;

        .cart-products-list {
            height: calc(100vh - 210px);
        }

    }

}

/* Large and up */
@media screen and (min-width: 64em) {
    .show-mobile {
        display: none;
    }

    .side-menu {
        display: none;
    }

    .hide-mobile {
        display: block;

        nav>div {
            margin-left: 100px;
        }

        .truncate {
            max-width: 220px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .header-categories {
            max-width: 50vw;
        }

    }

    .cart-opened {
        width: 400px;
        top: 75px;

        .cart-products-list {
            height: calc(100vh - 210px);
        }

    }

}