<p *ngIf="loading$ | async"> Loading... </p>
<div class="show-mobile">
    <div>
        <button (click)="handleSideMenuOpen()" *ngIf="!sideMenuOpen">
            <fa-icon [icon]="faBars"></fa-icon>
        </button>
        <button (click)="handleSideMenuOpen()" *ngIf="sideMenuOpen">
            <fa-icon [icon]="faClose"></fa-icon>
        </button>
        <a href="/home">
            <img src="assets/images/logo_light.png" alt="logo">
            <p-divider layout="vertical"></p-divider>
            <span>CoolStore</span>
        </a>
        <a class="shoppingCart" (click)="onClickedCart()">
            <fa-icon [icon]="faShoppingCart"></fa-icon>
            <span class="badge" *ngIf="cartQuantity$ | async">{{cartQuantity$ | async}}</span>
        </a>
    </div>
</div>
<div class="side-menu" [class.active]="sideMenuOpen">
    <div *ngIf="categories?.length">
        <li (click)="handleSideMenuOpen()" routerLinkActive="active-side" routerLink="home"><a>All</a></li>
        <li (click)="handleSideMenuOpen()" [routerLink]="['category', category.id]" routerLinkActive="active-side"
            *ngFor="let category of categories"><a>{{category.name}}</a></li>
    </div>
</div>

<div class="hide-mobile">
    <div>
        <nav>
            <a class="logo" href="/home">
                <img [width]="80" src="assets/images/logo_light.png" alt="">
                <p-divider layout="vertical"></p-divider>
                <span>CoolStore</span>
            </a>
        </nav>
        <div class="info">
            <div class="account truncate">
                <a routerLink="/profile">
                    <span *ngIf="user">{{user.email}}</span>
                </a>
                <button *ngIf="user" (click)="Logout()">
                    <span>Log out</span>
                </button>
                <button *ngIf="!user" (click)="login()">
                    <span>Log in</span>
                </button>
            </div>
            <div class="shopping-cart">
                <a (click)="onClickedCart()">
                    <fa-icon [icon]=" faShoppingCart"></fa-icon>
                    <span class="badge" *ngIf="cartQuantity$ | async">{{cartQuantity$ | async}}</span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="cart-opened" [class.active-cart]="(cartOpened$ | async)">
    <div class="close-btn">
        <button (click)="closeCart()">
            <fa-icon [icon]="faCloseCircle"></fa-icon>
        </button>
    </div>
    <div class="cart-products-list">
        <li *ngFor="let item of cartItems$ | async" class="cart-product-item">
            <div><img width="200" [src]="item.images[0]" alt="product-image"></div>
            <div>
                <h4>{{item.title}}</h4>
                <p>{{ item.price | currency }}</p>
            </div>
        </li>
    </div>
    <div class="cart-footer">
        <a routerLink="my-cart" (click)="closeCart()">
            <h3>Go to Shopping Cart</h3>
            <button>
                <fa-icon [icon]="faArrow"></fa-icon>
            </button>
        </a>
    </div>
</div>