@import '../../pages/products/products.component.scss';
@import '../../pages/orders/orders.component.scss';

$mobile-L: 425px;
$tablet: 768px;
$laptop: 1024px;

.main-background {
  padding-top: 41px;
}

.admin-layout {
  // background: radial-gradient(circle, #94e0ed, #86dbea, #77d6e6, #67d0e3, #55cbe0, #4bccdf, #41cdde, #35cedc, #3bd5db, #44dcda, #50e3d7, #5eead4);

  main {
    padding-left: 0;
  }
}

@media screen and (min-width: ($laptop + 10)) {

  .admin-layout main {
    padding-left: 250px;
  }
}