.order-list {
    .p-paginator {
        background: #000000;
    }

    .p-datatable {

        .p-datatable-thead>tr>th {
            background: #000;
            color: white;
            text-align: center;
        }

        .p-datatable-tbody>tr {
            background: var(--dark);

            &:hover {
                background-color: var(--maskbg);
            }

            &>td {
                text-align: center;

                img {
                    border-radius: 10px;
                    box-shadow: 0 0 5px 2px #000;
                }

                #edit,
                #view,
                button {
                    border-radius: 10px;
                    border: none;
                    padding: 5px 10px;
                    background-color: var(--green-600);
                    cursor: pointer;
                }

                #delete {
                    background-color: var(--red-600);
                }
            }
        }
    }
}