<div class="banner-container">
    <swiper class="swiper-image" [speed]="1500" [loop]="true" [autoplay]="{delay: 5000}" effect="slide"
        [slidesPerView]="1">
        <ng-template swiperSlide>
            <img src="assets/images/Banner_Black_Friday.png" alt="detail-Image">
        </ng-template>
        <ng-template swiperSlide>
            <img src="assets/images/Big_Sale.png" alt="detail-Image">
        </ng-template>
        <ng-template swiperSlide>
            <img src="assets/images/Banner_Black_Friday.png" alt="detail-Image">
        </ng-template>
        <ng-template swiperSlide>
            <img src="assets/images/Special.png" alt="detail-Image">
        </ng-template>
    </swiper>
</div>