.banner-container {
    padding-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

    .swiper-image {
        height: 100%;
        width: 100%;
    }

    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            display: block;
            max-width: 98%;
            object-fit: contain;
            border-radius: 10px;
        }
    }
}

@media screen and (min-width: 35em) and (max-width: 54.9em) {}

/* Medium only */
@media screen and (min-width: 55em) and (max-width: 63.9999em) {
    .banner-container {
        padding-top: 90px;
    }

}

/* Large and up */
@media screen and (min-width: 64em) {
    .banner-container {
        padding-top: 90px;
    }

}