.register-container {
    .register-header {
        background-image: radial-gradient(circle, #94e0ed, #86dbea, #77d6e6, #67d0e3, #55cbe0, #4bccdf, #41cdde, #35cedc, #3bd5db, #44dcda, #50e3d7, #5eead4);
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom-left-radius: 100%;
        border-bottom-right-radius: 100%;

        img {
            width: 60%;
            max-width: 250px;
        }
    }

    .register-title {
        text-align: center;

        span {
            font-size: 20px;
        }
    }

    .register-form {
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        .register-wraper {

            .register-form-container {
                background-color: var(--maskbg);
                padding: 15px;
                border-radius: 15px;
                display: flex;
                flex-direction: column;
                gap: 15px;


                .container {
                    .small-error {
                        padding-left: 5px;
                    }

                    .register-username {
                        display: flex;
                        align-items: center;
                        padding: 10px;
                        border: solid 1px #fff;
                        border-radius: 10px;
                        gap: 10px;
                    }

                    .register-password {
                        display: flex;
                        align-items: center;
                        padding: 10px;
                        border: solid 1px #fff;
                        border-radius: 10px;
                        gap: 10px;
                    }

                    .register-input-radius {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 10px;
                        border: none;
                        gap: 10px;
                    }

                    .register {
                        &-icon {
                            font-size: 22px;
                            color: var(--surface-900);
                        }

                        &-input {
                            width: 100%;

                            .p-inputtext {
                                border-radius: 0;
                                width: 100%;
                                background-color: transparent;
                                color: var(--surface-900);
                                padding: 5px;
                                border: none;
                                outline: none;
                                font-family: 'Rubik', sans-serif;
                                font-size: 18px;

                                &::placeholder {
                                    font-family: 'Rubik', sans-serif;
                                    color: var(--surface-600);
                                    font-style: italic;
                                    font-size: 18px;
                                }

                                &:enabled:focus {
                                    box-shadow: none;
                                }
                            }

                            .p-password {
                                width: 100%;

                                .p-inputtext {
                                    width: auto;
                                }

                            }

                            .p-input-icon-right>i:last-of-type {
                                right: -2px;
                                font-size: 20px;
                            }

                            .p-password-panel {
                                background-color: var(--maskbg);
                            }

                        }
                    }
                }

                .error-field {
                    .register-username {
                        border: solid 1px var(--red-600);
                    }

                    .register-password {
                        border: solid 1px var(--red-600);
                    }

                    .small-error {
                        color: var(--red-600);
                    }
                }
            }

        }

    }

    .register-btn {
        display: flex;
        justify-content: center;
        align-items: center;

        button {
            width: 100%;
            border-radius: 10px;
            border: none;
            text-transform: uppercase;
            font-weight: 600;
            padding: 5px;
            cursor: pointer;
            background-image: linear-gradient(to right top, #06b6d4, #05a6c1, #0596af, #04879d, #04788c, #036a7f, #035c71, #034e63, #073e55, #093045, #092236, #071426);
            box-shadow: 0px 2px 5px rgb(black, .2);

            span {
                font-size: 22px;
            }
        }
    }

    .register-footer {}
}